<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- zoom -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- title ejs var -->
        <title><%= title %></title>
        <!-- meta var -->
        <meta name="description" content="<%= description %>">
    </head>
    <body>
        <script>const apps = []</script>
        <!-- vueString -->
         <%- vueString %>
        <!-- content ejs -->
        <%- content %>

    </body>
</html>